/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Laravel
/.env
/.env.*
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
## Storage (caches, logs, uploads)
/storage/framework/*
!/storage/framework/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
## Local sqlite databases
/database/*.sqlite*
phpunit.xml
Homestead.json
Homestead.yaml

# IDE/editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
auth.json
