# Root ignores (repo-level)

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Laravel app subdir ignores
app/vendor/
app/node_modules/
app/public/build/
app/public/hot
app/storage/
app/.env
app/.env.*
app/.phpunit.result.cache
app/phpunit.xml
app/composer.lock
app/homestead.json
app/Homestead.yaml
app/nova-components/**/node_modules/
app/vendor-bin/**/vendor/
app/vendor-bin/**/composer.lock
app/.idea/
